apiVersion: v1
kind: ConfigMap
metadata:
  name: global-config
  namespace: {{ .Release.Namespace }}
data:
  domainName: {{ .Values.global.domainName | quote }}
  environment: {{ .Values.global.environment | quote }}
  letsEncryptIssuer: {{ .Values.global.letsEncryptIssuer | quote }}
