{{- if .Values.secretProvider.enabled -}}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: vault-cysl-envfile
spec:
  provider: vault
  parameters:
    vaultAddress: {{ .Values.secretProvider.vaultAddress }}
    roleName: {{ .Values.secretProvider.role }}
    objects: |
      - objectName: "{{ .Values.secretProvider.objectName }}"
        secretPath: "{{ .Values.secretProvider.secretPath }}"
        secretKey: "{{ .Values.secretProvider.secretKey }}"
        method: "GET"
{{- end }}
