{{- if .Values.secretProvider.enabled -}}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Values.secretProvider.name }}
spec:
  provider: vault
  parameters:
    vaultAddress: {{ .Values.secretProvider.vaultAddress }}
    roleName: {{ .Values.secretProvider.role }}
    vaultKubernetesMountPath: "kubernetes"
    vaultSkipTLSVerify: "true"
    objects: |
      {{- range .Values.secretProvider.secrets }}
      - objectName: "{{ . }}"
        secretPath: "{{ $.Values.secretProvider.secretPath }}"
        secretKey: "{{ . }}"
      {{- end }}
  secretObjects:
  - secretName: {{ .Values.secretProvider.secretName }}
    type: Opaque
    data:
    {{- range .Values.secretProvider.secrets }}
    - objectName: "{{ . }}"
      key: {{ . }}
    {{- end }}
{{- end }}
