apiVersion: v1
kind: Service
metadata:
  name: cysl-frontend
  labels:
    {{- include "helm-chart.labels" . | nindent 4 }}
spec:
  selector:
    {{- include "helm-chart.selectorLabels" . | nindent 6 }}
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000
